[*.cs]

# CS8509: The switch expression does not handle all possible values of its input type (it is not exhaustive).
dotnet_diagnostic.CS8509.severity = none

# CA2012: Use ValueTasks correctly
dotnet_diagnostic.CA2012.severity = none

# CA1826: Do not use Enumerable methods on indexable collections
dotnet_diagnostic.CA1826.severity = none

# StyleCopAnalyzers
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1002.severity = none
dotnet_diagnostic.SA1003.severity = none
dotnet_diagnostic.SA1005.severity = none
dotnet_diagnostic.SA1008.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1023.severity = none
dotnet_diagnostic.SA1025.severity = none
dotnet_diagnostic.SA1100.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1102.severity = none
dotnet_diagnostic.SA1105.severity = none
dotnet_diagnostic.SA1107.severity = none
dotnet_diagnostic.SA1108.severity = none
dotnet_diagnostic.SA1111.severity = none
dotnet_diagnostic.SA1114.severity = none
dotnet_diagnostic.SA1115.severity = none
dotnet_diagnostic.SA1116.severity = none
dotnet_diagnostic.SA1118.severity = none
dotnet_diagnostic.SA1120.severity = none
dotnet_diagnostic.SA1122.severity = none
dotnet_diagnostic.SA1123.severity = none
dotnet_diagnostic.SA1124.severity = none
dotnet_diagnostic.SA1127.severity = none
dotnet_diagnostic.SA1128.severity = none
dotnet_diagnostic.SA1129.severity = none
dotnet_diagnostic.SA1131.severity = none
dotnet_diagnostic.SA1132.severity = none
dotnet_diagnostic.SA1133.severity = none
dotnet_diagnostic.SA1134.severity = none
dotnet_diagnostic.SA1139.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1202.severity = none
dotnet_diagnostic.SA1203.severity = none
dotnet_diagnostic.SA1204.severity = none
dotnet_diagnostic.SA1205.severity = none
dotnet_diagnostic.SA1206.severity = none
dotnet_diagnostic.SA1214.severity = none
dotnet_diagnostic.SA1306.severity = none
dotnet_diagnostic.SA1310.severity = none
dotnet_diagnostic.SA1401.severity = none
dotnet_diagnostic.SA1402.severity = none
dotnet_diagnostic.SA1500.severity = none
dotnet_diagnostic.SA1501.severity = none
dotnet_diagnostic.SA1502.severity = none
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.SA1512.severity = none
dotnet_diagnostic.SA1513.severity = none
dotnet_diagnostic.SA1514.severity = none
dotnet_diagnostic.SA1515.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1519.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1611.severity = none
dotnet_diagnostic.SA1615.severity = none
dotnet_diagnostic.SA1618.severity = none
dotnet_diagnostic.SA1619.severity = none
dotnet_diagnostic.SA1623.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1634.severity = none
dotnet_diagnostic.SA1635.severity = none
dotnet_diagnostic.SA1636.severity = none
dotnet_diagnostic.SA1637.severity = none
dotnet_diagnostic.SA1638.severity = none
dotnet_diagnostic.SA1640.severity = none
dotnet_diagnostic.SA1641.severity = none
dotnet_diagnostic.SA1642.severity = none
dotnet_diagnostic.SA1643.severity = none
dotnet_diagnostic.SA1649.severity = none
